html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway';
}

.navbar {
  overflow: show;
  padding: 4px;
  background: #0F3736;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 10%;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.menu {
  float: right;
}

.menu a{
	font-size: 14px;
	text-transform: uppercase;
  text-decoration: none;
  	font-family: Montserrat;
  	transition: 0.5s;
}

.menu a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .menu {
    float: none;
  }
  .card {
  	display: none;
  }
}

.intro {
	height: 80%;
	width: 100%;
	margin-bottom: 1000 px ;
	background-image: url(../img/f.jpg);
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	vertical-align: middle;
	display: table-cell;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Montserrat',sans-serif;
	color: #f9f3f4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}

.cards {
  display: inline-block;
  margin-left: 200px;
  margin-bottom: 20px;
}

.top {
  padding: 10px 20px;
}

.top h2 {
	color: #FD6E49;
  font-family: Montserrat;
}

.card {
    transition: 0.3s;
    width: 25%;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}

.card:hover {
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}

.card p {
  font-size: 12px;
  color: #FD6E49;
}

.card h4 {
	font-family: 'Montserrat';
}

.foot {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat';

}